<!DOCTYPE html>
<html lang="en">
<head>
	<title>Movie Information</title>
</head>
<body>
	<div align="center">
		<h1> Movie Details </h1>
		<div>
			<ul>
				{% for source in movie_sources %}
				<li>
					{{source}}
				</li>
				{% endfor %}
			</ul>
		</div>

		<div>
			<form action="/update_watched_movies" method="POST" enctype="multipart/form-data" id="watched_movie" name ="watched_movie">
				Have you watched this movie?
				<input type="radio" id="watched1" class="checkwatch" name="watched" value="Yes" onclick="showNextQuestion()">
				<label for="watched1"> Yes </label>
				<input type="radio" id="watched2" class="checkwatch" name="watched" value="No">
				<label for="watched1"> No </label>

				<p id="liked" style="display:none"> Did you like this movie? </p>
				<input type="radio" id="liked1" class="checkliked" name="liked" class="radio" style="display:none" value="Yes" onclick="showButton()">
				<label id="liked1label" style="display:none" for="liked1"> Yes </label>
				<input type="radio" id="liked2" class="checkliked" name="liked" class="radio" style="display:none" value="No" onclick="showButton()">
				<label id="liked2label" style="display:none" for="liked1"> No </label>
				
				<input type="hidden" id="movie_id" name="movie_id" value="{{movie_id}}">
				<button type="submit" id="button1" style="display:none" value = "Submit"> Apply </button>
                
			</form>
			<script>
				function showNextQuestion() {
					var checkBox = document.getElementById("watched1");
					var text = document.getElementById("liked")
					var liked1 = document.getElementById("liked1")
					var liked2 = document.getElementById("liked2")
					if (checkBox.checked == true) {
						text.style.display = "block";
						liked1.style.display = "block";
						liked2.style.display = "block";
						liked1label.style.display = "block";
						liked2label.style.display = "block";
					} else {
						text.style.display = "none";
						liked1.style.display = "none";
						liked2.style.display = "none";
						liked1label.style.display = "none";
						liked2label.style.display = "none";
					}
				}

				function showButton() {
					var liked1 = document.getElementById("liked1")
					var liked2 = document.getElementById("liked2")
					var button1 = document.getElementById("button1")
					if (liked1.checked == true || liked2.checked == true) {
						button1.style.display = "block"
					} else {
						button1.style.display = "none"
					}
				}

			</script>
		</div>
	</div>
	
	
	
</body>
</html>
