<!DOCTYPE html>
<html lang="en">
<head>
	<title>Movie Information</title>
</head>
<body style="background-color:black; color:#40e0d0">
	<div>
		<h1 align="center"> More about: {{movie.title}} </h1>
		<div class="movie" style="display:flex;">
			<div>
			  <img src='{{movie.image}}' width=400 height=500/>
			</div>
			<div style="margin-left: 20px">
				<br>
				<h4>Description: {{movie.description}}</h4>
				<br>
				<h4>IMDB Rating: {{movie.imdb_rating}} / 10.0</h4>
				<br>
				<b>Genres:</b>
				{% for genre in genres %}
					<b>{{genre}}</b> -
				{% endfor %}
				<br>
				<br>
				<b>Sources:</b>
				{% for source in movie_sources %}
					<b>{{source}}</b> - 
				{% endfor %}
				<br>
				<br>
				<form action="/update_watched_movies" method="POST" enctype="multipart/form-data" id="watched_movie" name ="watched_movie">
					Did you like this movie?
					<input type="radio" id="liked1" class="checkliked" name="liked" class="radio" value="Yes" onclick="showButton()">
					<label id="liked1label" for="liked1"> Yes </label>
					<input type="radio" id="liked2" class="checkliked" name="liked" class="radio" value="No" onclick="showButton()">
					<label id="liked2label" for="liked1"> No </label>
					
					<input type="hidden" id="movie_id" name="movie_id" value="{{movie_id}}">
					<input type="hidden" id="genre_ids" name="genre_ids" value="{{genre_ids}}">
					<button type="submit" id="button1" style="display:none" value = "Submit"> Apply </button>
				</form>
				<script>
					function showButton() {
						var liked1 = document.getElementById("liked1")
						var liked2 = document.getElementById("liked2")
						var button1 = document.getElementById("button1")
						if (liked1.checked == true || liked2.checked == true) {
							button1.style.display = "block"
						} else {
							button1.style.display = "none"
						}
					}

				</script>
			</div>
			
		  </div>
		
		
	</div>
	
	
	
</body>
</html>
