<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pick some genres you're interested in!</title>
</head>
<body style="background-color:black; color:#40e0d0">
	<div align="center">
		<h1> Movies </h1>
	</div>
	<div>
		<ul>
		<form action="/new_user/genres/submit" method="POST" enctype="multipart/form-data" id="genre_prefernce_form">
		{% for genre_id, genre in genres %}
			<li>
				{{genre}}
				<td><input type="checkbox" name="genre" value = "{{genre_id}}" /></td>
			</li>
		{% endfor %}
		<input type = "submit" value = "OK"/>
		</form>
		
		</ul>
	</div>
</body>
</html>
