<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pick your streaming services:</title>
</head>
<body style="background-color:black; color:#40e0d0">
	<div align="center">
		<h1> Services </h1>
	</div>
	<div>
		<ul>
		<form action="/new_user/services/submit" method="POST" enctype="multipart/form-data" id="stream_services_form" name ="streaming_services_form">
		{% for (id, service_name) in streaming_services %}
			<li>
				<td>{{service_name}}<input type="checkbox" name="service" value = "{{id}}" /></td>
			</li>
		{% endfor %}
		<input type = "submit" value = "OK"/>
		</form>
		
		</ul>
	</div>
</body>
</html>
